<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
  						http://www.springframework.org/schema/beans
 						http://www.springframework.org/schema/beans/spring-beans.xsd
  						http://www.springframework.org/schema/util
  						http://www.springframework.org/schema/util/spring-util.xsd
 						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc.xsd
					    http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<mvc:annotation-driven />
	<mvc:resources mapping="/**" location="/" />
	<!-- <bean id="advices" class="com.mashen.service.Advices"></bean> -->
<!-- 	<bean id="exceptionResolver" class="com.mashen.exception.ExceptionHandler"></bean>
	aop配置
	<aop:config proxy-target-class="true">
		切面
		<aop:aspect ref="advices">
			切点
			<aop:pointcut
				expression="execution(* com.mashen.controller.RoleController.*(..))"
				id="pointcut1" />
			
			连接通知方法与切点
			<aop:before method="before" pointcut-ref="pointcut1" />
			<aop:after method="after" pointcut-ref="pointcut1" />
			<aop:after-throwing pointcut-ref="pointcut1" method="doThrowing" throwing="ex"/>
			<aop:after-returning pointcut-ref="pointcut1" method="doAfterReturn" returning="result"/>
			<aop:around pointcut-ref="pointcut1" method="doAround"/>
		</aop:aspect>
	</aop:config> -->

	


	<!-- <bean id="/user3" class="com.mashen.ssm.controller.UserAction"></bean> -->
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/article/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="contentType" value="text/html;charset=utf-8"></property>
	</bean>
	<!-- <bean id="/dept" class="com.mashen.controler.DeptController"></bean> 
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name = "prefix" value="/WEB-INF/views/"></property> <property name 
		= "suffix" value = ".jsp"></property> <property name="contentType" value="text/html;charset=utf-8"></property> 
		</bean> -->

<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
    <property name="maxUploadSize" value="10485760" />  
</bean>
	<context:component-scan base-package="com.mashen.ssm"></context:component-scan>



</beans>